
<div class="col-12 col-md-3 col-lg-3 d-flex flex-row-reverse mb-3 items-center order-2 xl:order-3  xl:ml-0 xl:mr-5 p-2 relative z-40">
    <div class="p-2"><form action="/BackLandingPage" method="post">
            <button type="submit"   class="btn btn-warning rounded-pill" ><span><i class="material-icons">home</i></span> חזרה לאתר </button></form></div>
</div>
</div>
<div class="p-2" style=" border-top: 3px solid #bbb;"></div>

<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="p-5">